{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<main>
  <div class="container">
    <div class="intro big fw300">
      The <strong>stories project</strong> uses the backend and frontend of django-comments-ink. Comments can be nested down to two level of replies, and they display users' avatars. Comment reactions have been customized to resemble comment reactions in GitHub. In addition to comment reactions, there are object reactions: users can react to stories, in this project the only object reaction allowed is clapping. Comment voting is enabled too.
    </div>
  </div>
  <div class="container">
    <div class="flex-row">
      <section class="column">
        <h2 class="subtitle text-success">Threaded comments</h2>
        <p>
          Comments can be nested. The maximum thread level is customizable.
        </p>
      </section>
      <section class="column">
        <h2 class="subtitle text-success">Notifications and mute-links</h2>
        <p>
          Receive follow-up notifications of your comments, and mute them later.
        </p>
      </section>
    </div>
  </div>
  <div class="container">
    <div class="flex-row">
      <section class="column">
        <h2 class="subtitle text-success">Comment confirmation</h2>
        <p>
          Comment confirmation via email when the user is not authenticated.
        </p>
      </section>
      <section class="column">
        <h2 class="subtitle text-success">Comment reactions</h2>
        <p>
          The set of reactions is customizable, to allow more reactions other than like and dislike.
        </p>
      </section>
    </div>
  </div>
  <div class="container">
    <div class="flex-row">
      <section class="column">
        <h2 class="subtitle text-success">Object reactions</h2>
        <p>
          You may want to express that you liked a blog story by clicking on a clapping icon.
        </p>
      </section>
      <section class="column">
        <h2 class="subtitle text-success">Comment votes</h2>
        <p>
          Vote comments up or down and list them by their score.
        </p>
      </section>
    </div>
  </div>
</main>
{% endblock %}
